<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vision.deadlinemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="com.allyants.notifyme.NotificationPublisher"/>
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.category.HOME"/>
            </intent-filter>

        </receiver>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".whatToDo"
            android:label="What To Do"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vision.deadlinemanager.MainActivity" />
        </activity>
        <activity
            android:name=".addTask"
            android:label="Add Task"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vision.deadlinemanager.MainActivity" />
        </activity>
        <activity
            android:name=".completed"
            android:label="Completed"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vision.deadlinemanager.MainActivity" />
        </activity>
        <activity
            android:name=".settings"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vision.deadlinemanager.MainActivity" />
        </activity>

        <activity android:name=".LoginActivity" />


        <activity android:name=".NotificationSettings" android:label="Notification Settings">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.vision.deadlinemanager.settings" />
        </activity>

        <activity android:name=".AboutActivity" android:label="About">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vision.deadlinemanager.settings" />
        </activity>
    </application>

</manifest>